.margin {
    margin: auto;
}

.pr {
    position: relative;
}

.container {
    max-width: 1140px;
}

.banner {
    width: 75%;
    height: 873px;
    background: #FFCA42;
}

.banner__ellipse {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #FFD363;
    position: absolute;
    top: 5%;
    left: 5%;
}

.banner__ellipse--sm {
    width: 30px;
    height: 30px;
    top: 13%;
    left: 16%;
}

/* .banner__ellipse--lg {
    width: 385px;
    height: 600px;
    top: -25%;
    border-bottom-left-radius: 300px;
    border-top-left-radius: 280px;
    left: 55%;
} */

.banner__logo {
    width: 25%;
    font-size: 50px;
    font-weight: 700;
    /* background: red; */
    padding: 20px 0px 10px 0px;
    color: #1B3764;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 3;
}

.logo__icon {
    font-size: 50px !important;
    z-index: 3;
}

.banner__heading {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #1B3764;
    z-index: 3;
}

.banner__para {
    text-align: center;
    padding: 0px 30px 0px 30px;
    font-size: 20px;
    font-weight: 400;
    color: #1B3764;
    z-index: 3;
}

.images {
    width: 90%; 
    display: flex;
    flex-direction: row;  
    padding: 10px; 
}

.images__leftImg {
    width: 410px;
    z-index:2;
    position: absolute;
    top: 360%;
}

.images__rightImg {
    width: 450px;
    /* z-index:1; */
    position: absolute;
    left: 38%;
}